<div class="">
    <h3>Bestdeals</h3>
    <div class="item-list">
        {% for product in bestseller_products %}
            <a href="{{ product.get_url_path }}"
               data-modal-title="{{ product.title }}"
               data-modal-url="{% url 'products:product_detail_modal' pk=product.pk  %}"
               class="item d-block my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right">
                        </div>
                        <p class="card-text">{{ product.title }}<br/>
                            <small>
                                {{ product.price }}</small>
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>  
</div>
