{% load static %}


    <div class="row bg-secondary py-2 px-xl-5">
<div class="container">
  <div class="row pt-5">
      <div class="">
          <a href="" class="text-decoration-none">
            <h2 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1"><i class='' style='font-size:24px'></i></span>Svgcraft</h2>
          </a>
          <div class="container">
      <!--  <p>Dolore e.</p>
          <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
          
          <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
          --> 
          <p class="mb-0"><i class="fa fa-envelope text-primary py-4 mr-3"></i>sales@svgcraft.co</p>
        </div>
      </div>
  </div>
  <div class="container-fluid">
  <div class="row border-top border-light mx-xl-5 py-4">
      <div class="text-center text-md-start text-primary-hover text-muted">
          <ul class="nav text-primary-hover text-center text-sm-end justify-content-center justify-content-center mt-3 mt-md-0">
          <li class="nav-item">@ {% now "Y" %} Svgcraft Company, Inc</a></li>
        </ul>
        </div>
      <div class="col-md-6 px-xl-0 text-center text-md-right">
          <img class="img-fluid" src="{% static 'img/payments.png' %}" alt="">
      </div>
  </div>
</div>
</div>
    </div>

    