    <!-- Topbar Start -->
{% load static %}
{% load search_tags %}
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="container my-1 px-2">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Left content -->
                    <div class="d-inline-flex align-items-center">
                        <a class="text-dark" href="">FAQs</a>
                        <span class="text-muted px-2">|</span>
                        <a class="text-dark" href="/help">Help</a>
                        <span class="text-muted px-2">|</span>
                        <a class="text-dark" href="/support">Support</a>
                    </div>
        
                    <!-- Right content -->
                    <div class="d-inline-flex align-items-center">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-dark pl-2" href="/">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="row align-items-center py-3 px-xl-5">
            <div class="container my-1 px-2">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Left content -->
                    <div class="col-lg-3 d-none d-lg-block">
                        <a href="/" class="text-decoration-none">
                    
                            <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="logo">
                        </a>
                    </div>
                    
                    <!-- Center content -->
                    <div class="col-lg-5 col-6 text-left">
                        {% block external %}
                        <script src="{% static 'js/search.js' %}"></script>
                   
                    {% endblock %}
                        <form role="search" action="{% url "search_products" %}" method="GET" action="search">
                            <div class="input-group">
                                <input type="search" id="q" name="q" value="{{ request.GET.q }}" required="required" placeholder="Search your product" class="form-control"/>
                                <button class="btn bg-transparent text-primary" type="submit">                                 
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
           
                    
                    
                 <!--    <form id="search-form" method="get" action=".">
                        {{ search_form.as_p }}
                        <input type="submit" value="search" /> </form>
                    <div id="search-results"> 
                        {% if show_results %}
                    {% include "bookmark_list.html" %} {% endif %}
                       </div>   -->

                    <!-- Right content -->
                    <div class="col-lg-4 col-6 text-right">
                        <div class="d-none d-lg-block">
                            <a href="" class="bt">
                                <i class=""></i>
                                <span class="badge">Login</span>
                            </a>
                            <a href="" class="bt">
                                <i class=""></i>
                                <span class="badge">Register</span>
                            </a>
                            <a href="{% url "cart:cart_detail" %}" class="btn border">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span id="cart-count" class="badge">
                                    {% with total_items=cart|length %}
                                        {% if total_items > 0 %}
                                            {{ total_items }} item{{ total_items|pluralize }},
                                            ${{ cart.get_total_price }} 
                                        {% else %}
                                            0
                                        {% endif %}
                                    {% endwith %}
                                </span>
                            </a>
                        </div>
                        <div class="d-block d-lg-none">
                            <a href="{% url "cart:cart_detail" %}" class="btn border">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span id="cart-count" class="badge">
                                    {% with total_items=cart|length %}
                                        {% if total_items > 0 %}
                                            {{ total_items }} item{{ total_items|pluralize }},
                                            ${{ cart.get_total_price }} 
                                        {% else %}
                                            0
                                        {% endif %}
                                    {% endwith %}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <!-- Topbar End -->
<style>
.logo {
    max-width: 0%; /* Ensures the logo doesn't exceed the parent container */
    height: auto; /* Maintains the aspect ratio of the logo */
}

</style>

    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
     
      
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="/" class="text-decoration-none d-block d-lg-none">
                        <h4 class="m-0 display-5 font-weight-semi-bold">
                            <span class="text-primary">
                                <i class="" style="font-size: 10px;">
                                    <img class="img-fluid" src="{% static 'img/logo.png' %}" style="max-width: 120px; height: auto;" alt="logo">
                                </i>
                            </span>
                        </h4>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0 d-block d-lg-none">
                            <!-- This link will be visible only on small screens (hidden on large) -->
                            <a href="" class="nav-item nav-link active">{% include "products/includes/filters.html" %}</a>
                       
                   <div class="navbar-nav ml-auto py-0">
                            <a href="" class="nav-item nav-link">Login</a>
                            <a href="" class="nav-item nav-link">Register</a>
                        </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#add-to-cart-form').on('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting normally
        
                var form = $(this);
                var url = form.data('url');
                var formData = form.serialize();
        
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        var cartCount = response.cart_count; // Assuming your Ajax response contains the updated cart count
                        $('#cart-count').text(cartCount);
                    },
                    error: function(xhr, errmsg, err) {
                        // Handle any error that occurred during the Ajax request
                    }
                });
            });
        });
        </script>
    <!-- Navbar End -->