{% load i18n utility_tags %}

<div class="">
<div class="filters panel-group">
    {% with title=_('Category') selected=facets.selected.category %}
        <div class="panel panel-default my-3">
            <div id="{{ title|slugify }}"
                 class="{% if not selected %} {% endif %}">
                <div class="panel-body"><div class="list-group">
                    {% include "misc/includes/filter_all.html" with param="category" %}
                    {% for cat in facets.categories.categories %}
                        <a class="list-group-item
                          {% if selected == cat %}
                          active{% endif %}"
                           href="{% modify_query "page" category=cat.pk %}">
                           {{ cat }} ({{ cat.product_count }})</a>
                    {% endfor %}
                </div></div>
            </div>
        </div>
    {% endwith %}
    </div>
</div>



