
{% block main %}
<main class="main">

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-info">
                                Showing <span>{{ products.number }}-{{ products.number|add:products.paginator.per_page }} of {{ products.paginator.count }}</span> results
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-left -->

                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Sort by:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortby" class="form-control">
                                        <option value="popularity" {% if request.GET.sort == "popularity" %}selected="selected"{% endif %}>Most Popular</option>
                                        <option value="rating" {% if request.GET.sort == "rating" %}selected="selected"{% endif %}>Most Rated</option>
                                        <option value="oldest" {% if request.GET.sort == "oldest" %}selected="selected"{% endif %}>Oldest</option>
                                    </select>
                                </div>
                            </div><!-- End .toolbox-sort -->
                            
                            <div class="toolbox-layout">
                          <!--      <a href="category-list.html" class="btn-layout"> -->
                                    <a href="javascript:void(0);" class="btn-layout layout-1">
                                    <svg width="16" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="10" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="10" height="4" />
                                    </svg>
                                </a>

                            <!--     <a href="category-2cols.html" class="btn-layout"> -->
                                 <a href="javascript:void(0);" class="btn-layout layout-2">
                                    <svg width="10" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="4" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="4" height="4" />
                                    </svg>
                                </a>

                              <!-- <a href="category.html" class="btn-layout active"> --> 
                                <a href="javascript:void(0);" class="btn-layout layout-3 active">
                                    <svg width="16" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="4" height="4" />
                                        <rect x="12" y="0" width="4" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="4" height="4" />
                                        <rect x="12" y="6" width="4" height="4" />
                                    </svg>
                                </a>

                              <!--  <a href="category-4cols.html" class="btn-layout"> -->
                                <a href="javascript:void(0);" class="btn-layout layout-4">
                                    <svg width="22" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="4" height="4" />
                                        <rect x="12" y="0" width="4" height="4" />
                                        <rect x="18" y="0" width="4" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="4" height="4" />
                                        <rect x="12" y="6" width="4" height="4" />
                                        <rect x="18" y="6" width="4" height="4" />
                                    </svg>
                                </a>
                            </div><!-- End .toolbox-layout -->
                        </div><!-- End .toolbox-right -->
                    </div><!-- End .toolbox -->

                    <div class="products mb-3">
                        <div id="replaceable-content">
                        <div class="row justify-content-center">
                            {% if products %}
                            {% for product in products %}
                            <div class="col-6 col-md-4 col-lg-4">
                                <div class="product product-7 text-center">

                                    <figure class="product-media">
                                        <span class="product-label label-new">New</span>
                                        <a href="{{ product.get_absolute_url }}">

                                            {% with product.productimage_set.first as profile_image %}
                                            <img class="product-image" src="{{ profile_image.image.url }}" alt="Product image">
                                            {% endwith %}  

                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                      
                                                    <div class="card-footer d-flex justify-content-center bg-light border">
                                                        <a href="{{ product.get_url_path }}"
                                                        data-modal-title="{{ product.title }}"
                                                        data-modal-url="{% url 'products:product_detail_modal' slug=product.slug %}"
                                                        class="item d-block my-1">
                                                            <div class="">
                                                                <small>
                                                                    <div class="">
                                                                        <div class="float-right">
                                                                            <div class="rating" aria-label="">
                                                                                <span style="width: {{ product.price }}"></span>
                                                                            </div>
                                                                        </div>
                                                                        <i class="btn-product-icon btn-quickview"></i>
                                                                    </div>
                                                                </small>
                                                            </div>
                                                        </a>
                                                    
                    
                     
                                                    </div>

                                        
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <form id="add-to-cart-form" data-url="{% url 'cart:cart_add' product.uuid %}" method="post" style="margin-top: 20px; text-align: center;">
                                                {{ cart_product_form }}
                                                {% csrf_token %}
                                                <button type="submit" class="btn-theme btn buy-btn" style="background-color: #3498db; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Add to cart</button>
                                            </form>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="product.html">{{product.title}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            ${{product.price}}
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                        
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 -->
                            {% endfor %}
                            {% endif %}
                        </div>

                        </div><!-- End .row -->
                    </div><!-- End .products -->

     
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% endblock %}