{% extends 'best.html' %}
{% block main %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <h1>Welcome to SVG Craft</h1>
    <p>Dear {{ email }},</p>
    <p>Thank you for signing up with SVG Craft. We are excited to have you as a member of our community.</p>
    <p>If you have any questions or need assistance, please don't hesitate to <a href="mailto:sales@svgcraft.co">contact us</a>.</p>
    <p>Best regards,<br>SVG Craft Team</p>
</body>
</html>
{% endblock %}