


  
<div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
data-owl-options='{
    "nav": false, 
    "dots": true,
    "margin": 20,
    "loop": false,
    "responsive": {
        "0": {
            "items":2
        },
        "480": {
            "items":2
        },
        "768": {
            "items":3
        },
        "992": {
            "items":4
        },
        "1200": {
            "items":4,
            "nav": true,
            "dots": false
        }
    }
}'>
{% for product in products %}  
<div class="product product-7 text-center">
    <figure class="product-media">
        {% if product.price == 0.00 %}
        <span class="product-label label-new">Free</span>
       {% else %}
       <span class="product-label label-new">-33%</span>
       {% endif %}
        <a href="{{ product.get_absolute_url }}">
            {% with product.productimage_set.first as profile_image %}
            <img class="product-image" src="{{ profile_image.image.url }}" alt="Product image">
            {% endwith %}
        </a>

        <div class="product-action">
            {% if product.price == 0.00 %}
            <div class="product-action"> 
                <a href="{% url 'products:download_free_product' product.download_url %}" class="btn btn-primary btn-round btn-shadow"><i class="icon-long-arrow-right"></i><span>Download</span></a>
                </div>
                 {% else %}
            <form class="add-to-cart-form" data-product-uuid="{{ product.uuid }}">
                {% csrf_token %}

                <div class="product-action">
                    <button type="submit" class="btn-product btn-cart" id="add-to-cart-button">
                        <span>Add to Cart</span>
                        <span class="loader"></span>
                    </button>

                </div><!-- End .product-details-action -->
            </form>
            {% endif %}
        </div><!-- End .product-action -->
    </figure><!-- End .product-media -->

    <div class="product-body">

        <h5 class="product-title small-product-title"><a href="{{ product.get_absolute_url }}">{{product.title}}</a></h5><!-- End .product-title -->
        <div class="product-price">
            ${{product.price}}
        </div><!-- End .product-price -->
    </div><!-- End .product-body -->
</div><!-- End .product -->
{% endfor %}
</div><!-- End .owl-carousel -->



