{% extends "base.html" %}
{% load search_tags %}
{% load i18n static utility_tags %}
{% block title %}Shop - SVG Craft{% endblock %}

{% load catalog_tags %}

{% block main %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<style>
@media (max-width: 767px) { 
  .show-only-on-small {
    display: block;
  }
  .show-only-on-large {
    display: none;
  }
}
 
@media (min-width: 768px) { 
  .show-only-on-small {
    display: none;
  }
  .show-only-on-large {
    display: block;
  }
}
</style>

<div class="">

{% include "products/product_lists.html" %}


</div>


</body>
{% endblock %}