<div class="products mb-3">
    <div class="row justify-content-center">
{% if products %}
{% for product in products %}
<div class="col-6 col-md-4 col-lg-4">
    <div class="product product-7 text-center">

        <figure class="product-media">
            <span class="product-label label-new">New</span>
            <a href="{{ product.get_absolute_url }}">

                {% with product.productimage_set.first as profile_image %}
                <img class="product-image" src="{{ profile_image.image.url }}" alt="Product image">
                {% endwith %}  

            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
            </div><!-- End .product-action-vertical -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <h3 class="product-title"><a href="product.html">{{product.title}}</a></h3><!-- End .product-title -->
            <div class="product-price">
                ${{product.price}}
            </div><!-- End .product-price -->
        </div><!-- End .product-body -->

    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-lg-4 -->
{% endfor %}
{% endif %}
    </div>
</div>