<hr>
<br />
<div class="col-lg-4 col-xs-12">
    <div class="">
        <h3>Latest</h3>
        {% if object_list %}
            <div class="item-list">
                {% for product in object_list %}
                    <a href="{{ product.get_url_path }}"
                       data-modal-title="{{ product.title }}"
                       data-modal-url="{% url 'products:product_detail_modal' pk=product.pk  %}"
                       class="item d-block my-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-right">
                                </div>
                                <p class="card-text">{{ product.title }}<br/>
                                    <small>
                                        {{ product.price }}</small>
                                </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

</div>

<div class="col-4">
    <div class="">
        <h3>Bestselling</h3>
        {% if object_list %}
            <div class="item-list">
                {% for product in object_list %}
                    <a href="{{ product.get_url_path }}"
                       data-modal-title="{{ product.title }}"
                       data-modal-url="{% url 'products:product_detail_modal' pk=product.pk  %}"
                       class="item d-block my-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-right">
                                </div>
                                <p class="card-text">{{ product.title }}<br/>
                                    <small>
                                        {{ product.price }}</small>
                                </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

</div>

<div class="col-4">
{% include "homepage/toprated.html" %}
</div>

