{% load i18n %}
<p class="text-center">
    <div class="img-fluid">
      <a href="{{ product.get_url_path }}">
      <div class="img-container">
        {% with product.productimage_set.first as profile_image %}
        <img src="{{ profile_image.image.url }}" alt="cover">
        {% endwith %}   
      </div>
    </a>
    </div>
</p>
<div class="modal-footer text-right">
    <a href="{{ product.get_absolute_url }}" class="btn btn-primary pull-right">
        {% trans "See details…" %}
    </a>
</div>



