{% extends "indexe.html" %}
{% block title %}{{product.title}}{% endblock %}
{% load static %}
{% load catalog_tags %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">{{product.title|truncatechars:20}}</a></li>
            </ol>

            <nav class="product-pager ml-auto" aria-label="Product">
                <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                    <i class="icon-angle-left"></i>
                    <span>Prev</span>
                </a>

                <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                    <span>Next</span>
                    <i class="icon-angle-right"></i>
                </a>
            </nav><!-- End .pager-nav -->
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div id="imagebox"></div>
                        <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
                        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
                        <script>
                            const egg = React.createElement;
                            class ImageBox extends React.Component {
                                constructor(props) {
                                    super(props);
                                    this.state = {
                                        currentImage: this.props.imageStart
                                    };
                                }
                                click(image) {
                                    this.setState({
                                        currentImage: image
                                    });
                                }
                                render() {
                                    const images = this.props.images.map((i, index) =>
                                        egg('div', { className: "image", key: index },
                                            egg('img', {
                                                onClick: () => this.click(i),
                                                width: "100",
                                                src: i.thumbnail
                                            }),
                                        ),
                                    );
                                    return (
                                        egg('div', { className: "gallery" },
                                            egg('div', { className: "current-image" },
                                                egg('img', { src: this.state.currentImage.image })
                                            ),
                                            images
                                        )
                                    );
                                }
                            }
                            document.addEventListener("DOMContentLoaded", function (event) {
                                const images = JSON.parse(document.getElementById('imageData').textContent);
                                const root = ReactDOM.createRoot(document.getElementById('imagebox'));
                                root.render(egg(ImageBox, { images: images, imageStart: images[0] }));
                            });
                        </script>
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="{% if product.productimage_set.first %}{{ product.productimage_set.first.image.url|safe }}{% endif %}" data-zoom-image="{% if product.productimage_set.first %}{{ product.productimage_set.first.image.url|safe }}{% endif %}" alt="product image">
                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->
                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    {% for image in product.productimage_set.all %}
                                    <a class="product-gallery-item{% if forloop.first %} {% endif %}" href="#" data-image="{{ image.image.url|safe }}" data-zoom-image="{{ image.image.url|safe }}">
                                        <img src="{{ image.thumbnail.url|safe }}" alt="product side">
                                    </a>
                                    {% endfor %}
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->
                    
                    

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{ product.title }}</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                ${{ product.price }}
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>{{product.description|safe}} </p>
                            </div><!-- End .product-content -->

                            <div class="product">
                             
                                <p>Price: ${{ product.price }}</p>
                                <form class="add-to-cart-form" data-product-uuid="{{ product.uuid }}">
                                    {% csrf_token %}
                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="1" step="1" data-decimals="0" required>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->
                        
                               
                                            <div class="product-details-action">
                                                <button type="submit" class="btn-product btn-cart" id="add-to-cart-button">
                                                    <span>Add to Cart</span>
                                                    <span class="loader"></span>
                                                </button>
                                                {% if product.price == 0.00 %}
                                                <div class="details-action-wrapper">

                                                    <a href="#" class="btn-product icon-info-circle" title="Wishlist"><span>Free Download</span></a>
                                                    <a href="#" class="btn-product btn-wrap"><span>
                                                        
                                                        <div class="btn-wrap">
                                                         
                                                            <a href="{% url 'products:download_free_product' product.download_url %}" class="btn btn-primary btn-round btn-shadow"><i class="icon-long-arrow-right"></i><span>Download</span></a>
                                                        </div><!-- End .btn-wrap -->
                                                    </span></a>
                                                </div><!-- End .details-action-wrapper -->
                                                {% endif %}
                                            </div><!-- End .product-details-action -->

                                        <div class="details-action-wrapper">
                                            <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                        </div><!-- End .details-action-wrapper -->
                                    <!-- End .product-details-action -->
                                </form>

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Tags:</span>
                                    {% if product.tags %}
                                        {% for tag in product.tags.all %}
                                        <a href="{% url 'products:tag' slug=tag.slug %}">{{tag }},</a> 
                                      {% endfor %}                          
                                   {% endif %}
                    
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Product Information</h3>
                            <p>{{product.description|safe}} </p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                        <div class="product-desc-content">
                            <h3>How To Download</h3>
                            <li>
                                There will be a download link immediately payment is completed.
                            </li>
                            <li>
                                The files will also be auto emailed. Check your email junk folder if you miss the email in your inbox.
                            </li>
                            <li>
                                Please visit our download guide page for detailed explanation on how to download.
                            </li>
                            <li>
                                From the zip use the file that is compatible with your machine or project.
                            </li>
                          </ul> 
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                        <div class="product-desc-content">
                            <h3>Delivery & returns</h3>
                            <ul>
                                <li>
                                    This product include a zipped file with 5 file formats: SVG, PNG, EPS, PSD and DXF.
                                </li>
                                <li>
                                    The files are well crafted and optimized for vinyl, stickers, laser cut, cricut, scrapbooking, silhouette among others.
                                </li>
                              </ul> 
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->
            {% product_list view_recs 'Similar Products' %}

            {% product_list recently_viewed 'Your Recently Viewed' %}


        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Sticky Bar -->
    <div class="sticky-bar">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <figure class="product-media">
                        {% with product.productimage_set.first as profile_image %}
                        <img class="product-image" src="{{ profile_image.image.url }}" alt="Product image">
                        {% endwith %}  
                    </figure><!-- End .product-media -->
                    <h4 class="product-title"><a href="product.html">{{ product.title }}</a></h4><!-- End .product-title -->
                </div><!-- End .col-6 -->

                <div class="col-6 justify-content-end">
                    <div class="product-price">
                        ${{ product.price }}
                    </div><!-- End .product-price -->
                    <form class="add-to-cart-form" data-product-uuid="{{ product.uuid }}">
                        {% csrf_token %}
                    <div class="product-details-action">
                        <button type="submit" class="btn-product btn-cart" id="add-to-cart-button" ><span>add to cart</span></button>
                    </div><!-- End .product-details-action -->
                </form>
                    
                </div><!-- End .col-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .sticky-bar -->
 
    
    <div class="container my-1 px-2">
    {% include "products/footerpd.html" %}
    </div>
{% endblock %}