{% load i18n %}
<style>
    .img-container {
        max-width: 100%;
        height: auto;
    }
    
    .img-container img {
        max-width: 100%;
        height: auto;
    }
</style>



<div class="modal-body text-center">
    <div class="row">
        <div class="col-md-6">
    <div class="img-container">
        <a href="{{ product.get_url_path }}">
            {% with product.productimage_set.first as profile_image %}
            <img src="{{ profile_image.image.url }}" alt="cover">
            {% endwith %}
        </a>
    </div>
</div>
    <div class="col-md-6">
        <!-- Other product details here -->
       
        <p>{{ product.description|safe }}</p> 
        <p>${{ product.price }}</p>
        <!-- Other details -->
    </div>

</div>
</div>

<div class="row">
<div class="modal-footer text-right">
    <a href="{{ product.get_absolute_url }}" class="btn btn-primary pull-right">
        {% trans "See details…" %}
    </a>
</div>

<div class="modal-footer text-left">
    <a href="" class="btn btn-sm text-dark p-0">  <i class="fas fa-shopping-cart text-primary mr-1"></i>Cart</a>
</div>
</div>

