{% extends "best.html" %}
{% load i18n static utility_tags %}

{% block title %}{{title}}{% endblock %}
{% block main %}

<br>
      <div class="container">
        <h5>showing {{ products.number }}-{{ products.number|add:products.paginator.per_page }} of {{ products.paginator.count }}  {{title}}</h5>
                    
          <br>
         <div class="row">
          {% if products %}
          {% for product in products %}

             <div class="col-6 col-md-4 col-lg-3">
                 <div class="product product-3">
                     <figure class="product-media">
                        {% if product.price == 0.00 %}
                         <span class="product-label label-new">Free</span>
                        {% else %}
                        <span class="product-label label-new">-33%</span>
                        {% endif %}
                         <a href="{{ product.get_absolute_url }}">
                          
                          {% with product.productimage_set.first as profile_image %}
                          <img class="img-fluid w-100" src="{{ profile_image.image.url }}" alt="cover">
                          {% endwith %}   
                       
                      </a>
                     </figure><!-- End .product-media -->

                     <div class="py">
                        <div class="prod">
                            {% if product.price == 0.00 %}
                            <div class="product">
                            <h5 class="product-title small-product-title"><a href="{{ product.get_absolute_url }}">{{product.title}}</a></h5><!-- End .product-title -->
                            </div>
                            <div class="product-price">
                                <span class="new-price">${{product.price}}</span>
                            </div><!-- End .product-price -->
                            <div class="btn-wrap">
                                                            
                               <a href="{% url 'products:download_free_product' product.download_url %}" class="btn btn-primary btn-round btn-shadow"><i class="icon-long-arrow-right"></i><span>Download</span></a>
                           </div><!-- End .btn-wrap -->     
                             {% else %}
                             <div class="product">
                             <h5 class="product-title small-product-title"><a href="{{ product.get_absolute_url }}">{{product.title}}</a></h5><!-- End .product-title -->
                             </div>
                             <div class="product-price">
                                 <span class="new-price">${{product.price}}</span>
                             </div><!-- End .product-price -->
                            <form class="add-to-cart-form" data-product-uuid="{{ product.uuid }}">
                             {% csrf_token %}
                             <button type="submit" class="btn-product btn-cart" id="add-to-cart-button">
                                <span>Add to Cart</span>
                                <span class="loader"></span>
                            </button>
            
                                    </form>
                            {% endif %}

                        </div><!-- End .product-action -->

                     </div><!-- End .product-body -->
                 </div><!-- End .product -->
             </div><!-- End .col-sm-6 col-lg-3 -->
             {% endfor %}
         </div><!-- End .row -->
         {% include "misc/includes/pagination.html" %}  
         {% else %}
         <p>{% trans "There are no products yet." %}</p>
     {% endif %}      
        </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.3.9/jquery.jscroll.min.js"></script>
    <script src="{% static 'js/list.js' %}"></script>
{% endblock %}

{% block extra_body %}
    <script type="text/template" class="loader">
        <div class="text-center">
            <div class="loading-indicator"></div>
        </div>
    </script>
    <div id="modal" class="modal fade" tabindex="-1" role="dialog"
         aria-hidden="true" aria-labelledby="modal_title">
        <div class="modal-dialog modal-dialog-centered"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal_title"
                        class="modal-title"></h4>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="{% trans 'Close' %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}